<div class="row">
  <div class="col">
    <h2>PLAYGROUND</h2>
  </div>
</div>
<button mat-button color="accent" (click)="goTo('css-binding')">
  Css Binding
</button>
<button class="ms-2" mat-button color="accent" (click)="goTo('check-box')">
  Checkbox
</button>
<button class="ms-2" mat-button color="accent" (click)="goTo('animations')">
  Animations
</button>
<button
  class="ms-2"
  mat-button
  color="accent"
  (click)="goTo('custom-directives')"
>
  Custom Directives
</button>
<mat-divider class="my-2"></mat-divider>
<div class="container">
  <router-outlet></router-outlet>
</div>
