$link-color: #673ab7; 
$label-margin-bottom: 0; 

/* Motion Colors */
$blue-motion: #526cb4;
$green-motion: #92ca5d;
$red-motion: #f05b5c;
$cyan-motion:#0cb6b4;
$yellow-motion:#fbda53;
$purple-motion: #3c497b
